:host {

    .mat-icon {
      vertical-align: middle;
      margin-right: 15px;
    }

    a {
        margin: 0;
        padding-left: 10px;
        height: 50px;
    }
  }

  mat-divider{
    margin:30px 10px;
  }
  