<mat-nav-list>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    ><mat-icon>dashboard</mat-icon>Dashboard</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    ><mat-icon>settings</mat-icon>Configurations</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    ><mat-icon>photo</mat-icon>Images</a
  >

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    ><mat-icon>laptop</mat-icon>Workspaces</a
  >

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    ><mat-icon>book</mat-icon>Bookings</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/users"
    ><mat-icon>group</mat-icon>Users</a
  >

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    ><mat-icon>area_chart</mat-icon>Analytics</a
  >

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles"
    ><mat-icon>restore_page</mat-icon>Seed</a
  ></mat-nav-list
>
