<h2>General</h2>

<div class="tile-container">
  <mat-card class="tile-card">
    <mat-card-content>
      <p>
        <mat-icon>bookmark_add</mat-icon>
        <mat-card-title>Create Booking</mat-card-title>
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="tile-container">
  <mat-card class="tile-card">
    <mat-card-content>
      <p>
        <mat-icon>settings</mat-icon>
        <mat-card-title>Configurations</mat-card-title>
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="tile-container">
  <mat-card class="tile-card">
    <mat-card-content>
      <p>
        <mat-icon>image</mat-icon>
        <mat-card-title>Images</mat-card-title>
      </p>
    </mat-card-content>
  </mat-card>
</div>

<h2 style="margin-top: 10px">Administration</h2>

<div class="tile-container">
  <mat-card class="tile-card">
    <mat-card-content>
      <p>
        <mat-icon>laptop</mat-icon>
        <mat-card-title>Workspaces</mat-card-title>
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="tile-container">
  <mat-card class="tile-card">
    <mat-card-content>
      <p>
        <mat-icon>book</mat-icon>
        <mat-card-title>Bookings</mat-card-title>
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="tile-container">
  <mat-card class="tile-card" routerLink="users">
    <mat-card-content>
      <p>
        <mat-icon>group</mat-icon>
        <mat-card-title>Users</mat-card-title>
      </p>
    </mat-card-content>
  </mat-card>
</div>

<br />

<div class="tile-container">
  <mat-card class="tile-card">
    <mat-card-content>
      <p>
        <mat-icon>area_chart</mat-icon>
        <mat-card-title>Analytics</mat-card-title>
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="tile-container">
  <mat-card class="tile-card">
    <mat-card-content>
      <p>
        <mat-icon>restore_page</mat-icon>
        <mat-card-title>Seed</mat-card-title>
      </p>
    </mat-card-content>
  </mat-card>
</div>

<!-- <div style="display: inline-block">
  <mat-card class="example-card">
    <mat-card-content>
      <p style="font-size: 32px; font-family: monospace">
        <mat-icon>settings_account_box</mat-icon>
        <mat-card-title
          style="font-size: 13px; margin-bottom: 0px; margin-top: 0px"
          >Configurations</mat-card-title
        >
      </p>
    </mat-card-content>
  </mat-card>
</div>

<h2>Administration</h2>

<div style="display: inline-block">
  <mat-card class="example-card">
    <mat-card-content>
      <p style="font-size: 32px; font-family: monospace">
        <mat-icon>settings_account_box</mat-icon>
        <mat-card-title
          style="font-size: 13px; margin-bottom: 0px; margin-top: 0px"
          >Configurations</mat-card-title
        >
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div style="display: inline-block">
  <mat-card class="example-card">
    <mat-card-content>
      <p style="font-size: 32px; font-family: monospace">
        <mat-icon>settings_account_box</mat-icon>
        <mat-card-title
          style="font-size: 13px; margin-bottom: 0px; margin-top: 0px"
          >Configurations</mat-card-title
        >
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div style="display: inline-block">
  <mat-card class="example-card">
    <mat-card-content>
      <p style="font-size: 32px; font-family: monospace">
        <mat-icon>settings_account_box</mat-icon>
        <mat-card-title
          style="font-size: 13px; margin-bottom: 0px; margin-top: 0px"
          >Configurations</mat-card-title
        >
      </p>
    </mat-card-content>
  </mat-card>
</div> -->
